VITE_STELLAR_NETWORK=TESTNET
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_PAIR_REGISTRY_CONTRACT_ID=CD2I44NRKLN4XKMZFZ6SNHCQYKJNTEHGXAG3K5L2LD7HANLO5HEKP2GF
VITE_SWAP_ANALYTICS_CONTRACT_ID=CCLEJY76A63MJ47GEMCJPM5HOY3BIWOABGZZ7QMOYTUSUWW6T34EKEKU
